/__pycache__
/WorkHotkeys
/Helpers
/*/__pycache__
inquires.py
/_Inquiries_Old
/_Inquiries_New
output.txt
newTest.py
/.VSCodeCounter
claimsProcessing.py
settings.json
/_ClaimsOld
/momStuff
launch.json
